fastapi==0.115.12
python-multipart==0.0.20
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
asyncpg==0.30.0
alembic==1.15.2
pydantic==2.11.4
pydantic-settings==2.8.1
pytest==8.3.5
httpx==0.28.1
redis==5.2.1
